*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
nav>ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-right: 50px;
}
nav a{
  text-decoration: none;
  color: #474747;
}
.nav-title{
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.primary-color{
  color: #FD6E0A;
}
.button-p{
  background-color: #FD6E0A;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
/* hedar style */
.header{
  background-color: #FFF8F3;
  background-image: url('images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner{
  padding: 50px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.banner-content{
  max-width: 700px;
}
.profile-pic{

}
.banner-text{
  color: #474747;
  font-size: small;
  margin: 20px 0px;
}

/* main section */
.section-title{
  font-weight: 800;
  text-align: center;
  font-size: x-large;
}

.about{
  max-width: 1140px;
  max-height: 550px;
  padding: 100px;
  background-color: #FFF8F3;
  margin: 120px auto;
}